.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
}

.flagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  margin: 0;
}

.namesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.imageBox {
  flex: 1;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.nameBox {
  flex: 1;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
}
